.resultPage{

  background: #A2c7D7;

  .title{
    color: #fff;
    padding-top: 48px;
    padding-bottom: 24px;
    text-align: center;
  }

  .subTitle{
    color: #fff;
    margin-bottom: 48px;
  }

  .enterBtn{
    background: #88619a !important;
    border-color: #88619a !important;
    margin: 24px 48px;
  }
  .headerBg{
    width: 100%;
  }

}
