.at-button--primary{
  background: #88619a !important;
  border-color: #88619a !important;
}

.indexPage{
  background: #A2c7D7;
}

.title{
  color:#fff;
  padding-top: 48px;
  margin-bottom: 24px;
  text-align: center;
}

.subTitle{
  color: #fff;
  margin-bottom: 48px;
}
.enterBtn{
  width: 60vw;
  min-width: 180px;
}

.headerBg{
  width: 100%;
}
